*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

body{
    background-color: dimgray;
}


::selection{
    color: #eaeaea;
    background-color: #696969;
}

.start_btn,
.info_box,
.quiz_box,
.result_box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 4px 8px 0 #cdcdcd, 0 6px 20px 0 #c3c3c3
}

.info_box.activeInfo,
.quiz_box.activeQuiz,
.result_box.activeResult{
    opacity: 1;
    z-index: 5;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}

.start_btn{
    button{
        font-size: 25px;
        font-weight: 500;
        color: #696969;
        padding: 15px 30px;
        outline: none;
        border: none;
        border-radius: 5px;
        background-color: #dadada;
        cursor: pointer;
    }
}

.info_box{
    width: 540px;
    background-color: #eaeaea;
    border-radius: 5px;
    transform: translate(-50%, -50%) scale(0.9);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.info_box{
    .info-title{
        height: 60px;
        width: 100%;
        border-bottom: 1px solid #a1a1a1;
        display: flex;
        align-items: center;
        padding: 0 30px;
        border-radius: 5px 5px 0 0;
        font-size: 20px;
        font-weight: 600;
    }
}


.info_box{
    .info-list{
        padding: 15px 30px;
        .info{
            margin: 5px 0;
            font-size: 17px;
            span{
                font-weight: 600;
                color: #0252dc;
            }
        }
    }
}


.info_box{
    .buttons{
        height: 60px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 0 30px;
        border-top: 1px solid #a1a1a1;
        button{
            margin: 0 5px;
            height: 40px;
            width: 100px;
            font-size: 16px;
            font-weight: 500;
            cursor: pointer;
            border: none;
            outline: none;
            border-radius: 5px;
            border: 1px solid #696969;
            transition: all 0.3s ease;
            &:last-child{
                background-color: #0252dc;
                color: #cbcbcb;
            }
            &:first-child{
                color: #0252dc;
                border: 1px solid #0252dc;
                &:hover{
                    background-color: #0252dc;
                    color: #cbcbcb;
                }
            }
        }
    }
}


.quiz_box{
    width: 550px;
    background-color: #e5e5e5;
    border-radius: 5px;
    transform: translate(-50%, -50%) scale(0.9);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
    header{
        position: relative;
        z-index: 2;
        height: 70px;
        padding: 0 30px;
        background-color: #dadada;
        border-radius: 5px 5px 0 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        box-shadow: 0px 3px 5px 1px #181717;

        .title{
            font-size: 20px;
            font-weight: 600;
        }

        .timer{
            color: #343a40;
            background: #cbcbcb;
            border: 1px solid #999999;
            height: 45px;
            padding: 0 8px;
            border-radius: 5px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 145px;
            .time_left_txt{
                font-weight: 400;
                font-size: 17px;
                user-select: none;
            }
            .timer_sec{
                font-size: 18px;
                font-weight: 500;
                height: 30px;
                width: 45px;
                color: #eaeaea;
                border-radius: 5px;
                line-height: 30px;
                text-align: center;
                background: #343a40;
                border: 1px solid #343a40;
                user-select: none;
            }
        }
        .time_line{
            position: absolute;
            bottom: 0;
            left: 0;
            height: 3px;
            background: #0252dc;
        }
    }
}

section{
    padding: 25px 30px 20px 30px;
    background: #eaeaea;

    .que_text{
        font-size: 25px;
        font-weight: 600;
    }

    .option_list{
        padding: 20px 0px;
        display: block;
        .option{
            background-color: #cbcbcb;
            border: 1px solid #343a40;
            border-radius: 5px;
            padding: 8px 15px;
            font-size: 17px;
            margin-bottom: 15px;
            cursor: pointer;
            transition: all 0.3s ease;
            display: flex;
            justify-content: space-between;
            align-items: center;
            &:last-child{
                margin-bottom: 0;
            }
            &:hover{
                color: #343a40;
                background: #e5e5e5;
                border: 1px solid #cbcbcb;
            }
            .icon{
                height: 26px;
                width: 26px;
                border: 2px solid transparent;
                border-radius: 50%;
                text-align: center;
                font-size: 13px;
                pointer-events: none;
                transition: all 0.3s ease;
                line-height: 24px;
            }
            .tick{
                color: #23903c;
                border-color: #23903c;
                background-color: #dadada;
            }
            .cross{
                color: #920000;
                background: #dadada;
                border-color: #920000;
            }
        }
        .correct{
            color: #007c1d;
            background-color: #dadada;
            border: 1px solid #dadada;
        }
        .incorrect{
            color: #920000;
            background-color: #dadada;
            border: 1px solid #dadada;
        }
        .disabled{
            pointer-events: none;
        }
    }
}

footer{
    height: 60px;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #999999;
    .total_que span{
        display: flex;
        user-select: none;
        p{
            font-weight: 500;
            padding: 0 5px;
            &:first-child{
                padding-left: 0;
            }
        }
    }
    button{
        height: 40px;
        padding: 0 13px;
        font-size: 18px;
        font-weight: 400;
        cursor: pointer;
        border: none;
        color: #dadada;
        border-radius: 5px;
        background: #343a40;
        border: 1px solid #343a40;
        line-height: 10px;
        opacity: 0;
        pointer-events: none;
        transform: scale(0.95);
        transition: all 0.3s ease;
        &:hover{
            background-color: #0252dc;
        }
    }
    .show{
        opacity: 1;
        pointer-events: auto;
        transform: scale(1);
    }
}

.result_box{
    background: #e5e5e5;
    border-radius: 5px;
    display: flex;
    padding: 25px 30px;
    width: 450px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    transform: translate(-50%, -50%) scale(0.9);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
    .icon{
        font-size: 70px;
        color: #343a40;
        margin-bottom: 10px;
    }
    .complete_text{
        font-size: 20px;
        font-weight: 500;
    }
    .score_text span{
        display: flex;
        margin: 10px 0;
        font-size: 18px;
        font-weight: 500;
        p{
            padding: 0 4px;
            margin-top: 5px;
            font-weight: 600;
        }
    }
    .buttons{
        display: flex;
        margin: 20px 0;
        button{
            margin: 0 10px;
            height: 45px;
            padding: 0 20px;
            font-size: 18px;
            font-weight: 500;
            cursor: pointer;
            outline: none;
            border: none;
            border-radius: 5px;
            border: 1px solid #343a40;
            transition: all 0.3s ease;
        }
        .restart{
            color: #cbcbcb;
            background: #343a40;
            &:hover{
                background: #0252dc;
            }
        }
        .quit{
            color: #343a40;
            background: #cbcbcb;
            &:hover{
                color: #cbcbcb;
                background: #0252dc;
            }
        }
    }
}